body{
	background-color:#EBD095
}
h1{.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
color: #E85E51;
}


.md-img{
width: 600px;
}	

.sm-img{
width: 200px;
}	